.description{
   height: 40vh;
   min-height: 30rem;
   padding-top: 1rem;

   display: flex;
   flex-direction: column;
   justify-content: flex-end;

   img{
      width: 100%;
   }
}

.description__text{
   font-size: 1.6rem;
   line-height: 2.4rem;
   text-align: justify;
}