.swiper-slide{
   overflow: hidden;
}

.swiper-container-rent{
   margin-left: auto;
   margin-right: auto;
   position: relative;
   overflow: hidden;
   list-style: none;
   padding: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   display: none;
}