$text-white: #fff;
$text-black: #343434;
$text-blue: #0072FF;

$bg-white: #fff;
$bg-black: #343434;
$bg-blue-linear: linear-gradient(90deg, #7474BF 0%, #348AC7 100%);

$green-linear: linear-gradient(90deg, #4CB8C4 0%, #3CD3AD 100%);
$blue-linear: linear-gradient(230.2deg, #00C6FF -29.4%, #0072FF 109.49%);

$complect-1: #0072FF;
$complect-2: #4CB8C4;
$complect-3: #FFCB91;
$complect-4: #845EC2;
$complect-5: #99BBAD;
$complect-6: #FF5E78;
$complect-7: #EB5E0B;

$complect-2-1: #FFCC29;
$complect-2-2: #1A508B;
$complect-2-3: #4CB8C4;



$section-mb: 8rem;
$item-img-m: -45%;
$item-img-m-2: -20%;
