<footer>
   <div class="wrapper-md">
      <div class="footer__wrapper">
         <a href="" class="footer__logo">
            <div class="footer__logo--top">HOOKAH TOWER</div>
            <div class="footer__logo--bottom">Доставка кальянов на дом</div>
         </a>
         <div class="footer__copyright">
            <a href="" class="footer__copyright--top">+7(982)753-15-21</a>
            <div class="footer__copyright--bottom">© Hookahtower, 2020—2021</div>
         </div>
         <a href="" class="footer__madeby">
            <div class="footer__madeby--top">Создание сайтов</div>
            <div class="footer__madeby--bottom">EREMEEV.TK</div>
         </a>
         <a href="" class="footer__madebyMob btn--blue">E</a>
      </div>
   </div>
</footer>
