<header id="header__wr">
   <section class="header">
      <div class="wrapper-lg">
         <nav>
            <a class="nav__brand" href="">hookah tower</a>
            <a class="nav__phone" href="tel:88005353535">+7 (982) 753-15-21</a>
         </nav>
      </div>
      <div class="wrapper-header">
         <div class="header__info">
            <div class="header__info--left">
               <h1 class="header__title">Аренда кальяна<br>на <span class="header__img--home"></span> <span class="header__price" data-hystmodal="#Modal_order1">от 499р</span></h1>
               <a href="" class="btn btn--green" data-hystmodal="#Modal_order1">Заказать прямо сейчас</a>
            </div>
            <div class="header__info--right">
               <p class="header__info--subtitle">Связаться с нами:</p>
               <a href="https://vk.com/eremeevds" target="_blank" class="btn btn--blue btn--sm mb--1">Вконтакте</a>
               <a href="https://www.instagram.com/creepline2019/" target="_blank" class="btn btn--blue btn--sm">Инстаграм</a>
            </div>
         </div>
      </div>
      <video loop="loop" muted="" autoplay="" poster="assets/images/video-poster.png" class="header__video">
         <source src="assets/images/videoBG.mp4" type="video/mp4">
         <source src="assets/images/videoBG.webm" type='video/webm; codecs="vp8, vorbis"'>
     </video>
     <img class="header__cursor" src="assets/images/icon/cursor.svg">
     <div class="header__plane"></div>
   </section>
   <section class="description">
      <div class="wrapper-md">
         <h2 class="description__text">Аренда кальяна на дом с доставкой в любую точку Екатеринбурга. Hookah Tower предоставляет большой ассортимент табачной продукции от всемирно известных брендов Dark Side, Must Have, Duft, Ветер северный, Daily Hookah, Al Fakher, Sebero. Расслабляющий кальянный дым станет отличным дополнением вашей вечеринки, романтического свидания или приятных тихих встреч с друзьями!</h2>
      </div>
      <div class="wrapper-lg">
         <ul id="slides">
            <li class="slide showing"><img src="assets/images/header-1.png" alt="Курите кальян на природе"></li>
            <li class="slide"><img src="assets/images/header-2.png" alt="Курите кальян на природе"></li>
         </ul>
      </div>
   </section>
</header>
