<div class="hystmodal" id="Modal_order1" aria-hidden="true">
   <div class="hystmodal__wrap">
       <div class="hystmodal__window modal__order" role="dialog" aria-modal="true">
           <button data-hystclose class="hystmodal__close">Закрыть</button>
           <div class="modal__order-header">
              <div class="modal__order-header-wr">
                  <div class="modal__logo">
                     <h3 class="modal__logo-top">HOOKAH TOWER</h3>
                     <h3 class="modal__logo-bottom">Аренда кальяна с доставкой</h3>
                  </div>
                  <p class="modal__order-header-desc">Оставьте заявку на аренду
                     и наш менеджер свяжется с вами</p>  
              </div>
           </div>
           <div class="modal__order-body">
              <div class="modal__order-orderedItem">
               <div class="rent__item">
                  <img src="assets/images/complect_1.png" alt="аренда кальяна на сутки дешево">
                  <div class="rent__item--wrapper">
                     <div class="rent__complect">
                        <ul class="rent__complect--left">
                           <li class="rent__complect--data">Кальян</li>
                           <li class="rent__complect--data">Чаша</li>
                           <li class="rent__complect--data">Калауд</li>
                        </ul>
                        <ul class="rent__complect--right">
                           <li class="rent__complect--data">Щипцы</li>
                        </ul>
                     </div>
   
                     <div class="btn__rent">
                        <div class="btn__rent--center">499р</div>
                     </div>
                  </div>
               </div>
              </div>
               <div class="modal__order-toCall">
                  <div class="modal__subTitle">Первый способ:</div>
                  <div class="modal__toCall-desc">Позвоните нам самостоятельно
                     и получите моментальный ответ
                  </div>
                  <div class="modal__btn--verticalWrap">
                     <a href="" class="btn btn--blue btn--sm btn--w141">Позвонить</a>
                  </div>
               </div>
               <div class="modal__verticalLine"></div>
               <div class="modal__order-form">
                  <div class="modal__subTitle">Второй способ:</div>
                  <div class="modal__form-desc">Заполните эту форму и в течении нескольких
                     минут наш менеджер свяжется с вами
                  </div>
                  <div class="modal__order-forms">
                     <form action="" method="POST">
                        <div class="modal__order-formINPUTS">
                           <div class="modal__order-formINPUT">
                              <p class="modal__order-inputTEXT">Введите имя:</p>
                              <input type="text" name="name" placeholder="Денис">
                           </div>
                           <div class="modal__order-formINPUT">
                              <p class="modal__order-inputTEXT">Номер телефона:</p>
                              <input type="tel" name="tel" placeholder="+7(932)159-77-77">
                           </div>
                        </div>
                        <button type="submit" class="btn btn--blue btn--sm btn--w100">Отправить</button>
                     </form>
                  </div>
               </div>
           </div>
       </div>
   </div>
</div>


<div class="hystmodal" id="Modal_order2" aria-hidden="true">
   <div class="hystmodal__wrap">
       <div class="hystmodal__window modal__order" role="dialog" aria-modal="true">
           <button data-hystclose class="hystmodal__close">Закрыть</button>
           <div class="modal__order-header">
              <div class="modal__order-header-wr">
                  <div class="modal__logo">
                     <h3 class="modal__logo-top">HOOKAH TOWER</h3>
                     <h3 class="modal__logo-bottom">Аренда кальяна с доставкой</h3>
                  </div>
                  <p class="modal__order-header-desc">Оставьте заявку на аренду
                     и наш менеджер свяжется с вами</p>  
              </div>
           </div>
           <div class="modal__order-body">
              <div class="modal__order-orderedItem">
               <div class="rent__item">
                  <img src="assets/images/complect_1.png" alt="аренда кальяна на сутки с доставкой">
                  <div class="rent__item--wrapper">
                     <div class="rent__complect">
                        <ul class="rent__complect--left">
                           <li class="rent__complect--data">Кальян</li>
                           <li class="rent__complect--data">Чаша</li>
                           <li class="rent__complect--data">Калауд</li>
                        </ul>
                        <ul class="rent__complect--right">
                           <li class="rent__complect--data">Щипцы</li>
                           <li class="rent__complect--data rent__data--blue">Доставка</li>
                        </ul>
                     </div>
   
                     <div href="" class="btn__rent">
                        <div class="btn__rent--center">849р</div>
                     </div>
                  </div>
               </div>
              </div>
               <div class="modal__order-toCall">
                  <div class="modal__subTitle">Первый способ:</div>
                  <div class="modal__toCall-desc">Позвоните нам самостоятельно
                     и получите моментальный ответ
                  </div>
                  <div class="modal__btn--verticalWrap">
                     <a href="" class="btn btn--blue btn--sm btn--w141">Позвонить</a>
                  </div>
               </div>
               <div class="modal__verticalLine"></div>
               <div class="modal__order-form">
                  <div class="modal__subTitle">Второй способ:</div>
                  <div class="modal__form-desc">Заполните эту форму и в течении нескольких
                     минут наш менеджер свяжется с вами
                  </div>
                  <div class="modal__order-forms">
                     <form action="" method="POST">
                        <div class="modal__order-formINPUTS">
                           <div class="modal__order-formINPUT">
                              <p class="modal__order-inputTEXT">Введите имя:</p>
                              <input type="text" name="name" placeholder="Денис">
                           </div>
                           <div class="modal__order-formINPUT">
                              <p class="modal__order-inputTEXT">Номер телефона:</p>
                              <input type="tel" name="tel" placeholder="+7(932)159-77-77">
                           </div>
                        </div>
                        <button type="submit" class="btn btn--blue btn--sm btn--w100">Отправить</button>
                     </form>
                  </div>
               </div>
           </div>
       </div>
   </div>
</div>



<div class="hystmodal" id="Modal_order3" aria-hidden="true">
   <div class="hystmodal__wrap">
       <div class="hystmodal__window modal__order" role="dialog" aria-modal="true">
           <button data-hystclose class="hystmodal__close">Закрыть</button>
           <div class="modal__order-header">
              <div class="modal__order-header-wr">
                  <div class="modal__logo">
                     <h3 class="modal__logo-top">HOOKAH TOWER</h3>
                     <h3 class="modal__logo-bottom">Аренда кальяна с доставкой</h3>
                  </div>
                  <p class="modal__order-header-desc">Оставьте заявку на аренду
                     и наш менеджер свяжется с вами</p>  
              </div>
           </div>
           <div class="modal__order-body">
              <div class="modal__order-orderedItem">
               <div class="rent__item">
                  <img src="assets/images/complect_1.png" alt="аренда кальяна на сутки с табаком и углями">
                  <div class="rent__item--wrapper">
                     <div class="rent__complect">
                        <ul class="rent__complect--left">
                           <li class="rent__complect--data">Кальян</li>
                           <li class="rent__complect--data">Чаша</li>
                           <li class="rent__complect--data">Калауд</li>
                        </ul>
                        <ul class="rent__complect--right">
                           <li class="rent__complect--data">Щипцы</li>
                           <li class="rent__complect--data rent__data--blue">Табак</li>
                           <li class="rent__complect--data rent__data--blue">Угли</li>
                        </ul>
                     </div>
   
                     <div class="btn__rent">
                        <div class="btn__rent--center">749р</div>
                     </div>
                  </div>
               </div>
              </div>
               <div class="modal__order-toCall">
                  <div class="modal__subTitle">Первый способ:</div>
                  <div class="modal__toCall-desc">Позвоните нам самостоятельно
                     и получите моментальный ответ
                  </div>
                  <div class="modal__btn--verticalWrap">
                     <a href="" class="btn btn--blue btn--sm btn--w141">Позвонить</a>
                  </div>
               </div>
               <div class="modal__verticalLine"></div>
               <div class="modal__order-form">
                  <div class="modal__subTitle">Второй способ:</div>
                  <div class="modal__form-desc">Заполните эту форму и в течении нескольких
                     минут наш менеджер свяжется с вами
                  </div>
                  <div class="modal__order-forms">
                     <form action="" method="POST">
                        <div class="modal__order-formINPUTS">
                           <div class="modal__order-formINPUT">
                              <p class="modal__order-inputTEXT">Введите имя:</p>
                              <input type="text" name="name" placeholder="Денис">
                           </div>
                           <div class="modal__order-formINPUT">
                              <p class="modal__order-inputTEXT">Номер телефона:</p>
                              <input type="tel" name="tel" placeholder="+7(932)159-77-77">
                           </div>
                        </div>
                        <button type="submit" class="btn btn--blue btn--sm btn--w100">Отправить</button>
                     </form>
                  </div>
               </div>
           </div>
       </div>
   </div>
</div>



<div class="hystmodal" id="Modal_order4" aria-hidden="true">
   <div class="hystmodal__wrap">
       <div class="hystmodal__window modal__order" role="dialog" aria-modal="true">
           <button data-hystclose class="hystmodal__close">Закрыть</button>
           <div class="modal__order-header">
              <div class="modal__order-header-wr">
                  <div class="modal__logo">
                     <h3 class="modal__logo-top">HOOKAH TOWER</h3>
                     <h3 class="modal__logo-bottom">Аренда кальяна с доставкой</h3>
                  </div>
                  <p class="modal__order-header-desc">Оставьте заявку на аренду
                     и наш менеджер свяжется с вами</p>  
              </div>
           </div>
           <div class="modal__order-body">
              <div class="modal__order-orderedItem">
               <div class="rent__item">
                  <img src="assets/images/complect_1.png" alt="аренда кальяна на сутки с доставкой, табаком и углями">
                  <div class="rent__item--wrapper">
                     <div class="rent__complect">
                        <ul class="rent__complect--left">
                           <li class="rent__complect--data">Кальян</li>
                           <li class="rent__complect--data">Чаша</li>
                           <li class="rent__complect--data">Калауд</li>
                        </ul>
                        <ul class="rent__complect--right">
                           <li class="rent__complect--data">Щипцы</li>
                           <li class="rent__complect--data rent__data--blue">Доставка</li>
                           <li class="rent__complect--data rent__data--blue">Табак + у</li>
                        </ul>
                     </div>
   
                     <div class="btn__rent">
                        <div class="btn__rent--center">1100р</div>
                     </div>
                  </div>
               </div>
              </div>
               <div class="modal__order-toCall">
                  <div class="modal__subTitle">Первый способ:</div>
                  <div class="modal__toCall-desc">Позвоните нам самостоятельно
                     и получите моментальный ответ
                  </div>
                  <div class="modal__btn--verticalWrap">
                     <a href="" class="btn btn--blue btn--sm btn--w141">Позвонить</a>
                  </div>
               </div>
               <div class="modal__verticalLine"></div>
               <div class="modal__order-form">
                  <div class="modal__subTitle">Второй способ:</div>
                  <div class="modal__form-desc">Заполните эту форму и в течении нескольких
                     минут наш менеджер свяжется с вами
                  </div>
                  <div class="modal__order-forms">
                     <form action="" method="POST">
                        <div class="modal__order-formINPUTS">
                           <div class="modal__order-formINPUT">
                              <p class="modal__order-inputTEXT">Введите имя:</p>
                              <input type="text" name="name" placeholder="Денис">
                           </div>
                           <div class="modal__order-formINPUT">
                              <p class="modal__order-inputTEXT">Номер телефона:</p>
                              <input type="tel" name="tel" placeholder="+7(932)159-77-77">
                           </div>
                        </div>
                        <button type="submit" class="btn btn--blue btn--sm btn--w100">Отправить</button>
                     </form>
                  </div>
               </div>
           </div>
       </div>
   </div>
</div>



<div class="hystmodal" id="Modal_order5" aria-hidden="true">
   <div class="hystmodal__wrap">
       <div class="hystmodal__window modal__order" role="dialog" aria-modal="true">
           <button data-hystclose class="hystmodal__close">Закрыть</button>
           <div class="modal__order-header">
              <div class="modal__order-header-wr">
                  <div class="modal__logo">
                     <h3 class="modal__logo-top">HOOKAH TOWER</h3>
                     <h3 class="modal__logo-bottom">Аренда кальяна с доставкой</h3>
                  </div>
                  <p class="modal__order-header-desc">Оставьте заявку на аренду
                     и наш менеджер свяжется с вами</p>  
              </div>
           </div>
           <div class="modal__order-body">
              <div class="modal__order-orderedItem">
               <div class="rent__item">
                  <img src="assets/images/complect_8.png"
                  class="rent__item--img" alt="купить табак  для кальяна">
                  <div class="rent__item--wrapper">
                     <div class="rent__complect">
                        <ul class="rent__complect--left">
                           <li class="rent__complect--data rent__data--blue">MustHave</li>
                           <li class="rent__complect--data rent__data--blue">DarkSide</li>
                           <li class="rent__complect--data rent__data--blue">И другие</li>
                        </ul>
                     </div>
   
                     <div class="btn__rent">
                        <div class="btn__rent--center">от 190р</div>
                     </div>
                  </div>
               </div>
              </div>
               <div class="modal__order-toCall">
                  <div class="modal__subTitle">Первый способ:</div>
                  <div class="modal__toCall-desc">Позвоните нам самостоятельно
                     и получите моментальный ответ
                  </div>
                  <div class="modal__btn--verticalWrap">
                     <a href="" class="btn btn--blue btn--sm btn--w141">Позвонить</a>
                  </div>
               </div>
               <div class="modal__verticalLine"></div>
               <div class="modal__order-form">
                  <div class="modal__subTitle">Второй способ:</div>
                  <div class="modal__form-desc">Заполните эту форму и в течении нескольких
                     минут наш менеджер свяжется с вами
                  </div>
                  <div class="modal__order-forms">
                     <form action="" method="POST">
                        <div class="modal__order-formINPUTS">
                           <div class="modal__order-formINPUT">
                              <p class="modal__order-inputTEXT">Введите имя:</p>
                              <input type="text" name="name" placeholder="Денис">
                           </div>
                           <div class="modal__order-formINPUT">
                              <p class="modal__order-inputTEXT">Номер телефона:</p>
                              <input type="tel" name="tel" placeholder="+7(932)159-77-77">
                           </div>
                        </div>
                        <button type="submit" class="btn btn--blue btn--sm btn--w100">Отправить</button>
                     </form>
                  </div>
               </div>
           </div>
       </div>
   </div>
</div>