<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>
    <div class="page">
        {{> header }}

        {{> body }}

        {{> footer }}
    </div>
    {{> modal_order}}

    <script src="assets/js/app.js"></script>
    <script src="assets/js/hystmodal.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        const myModal = new HystModal({
        linkAttributeName: "data-hystmodal",
        catchFocus: false,
        });
    </script>
    <script>
        var swiper = new Swiper('.swiper-container-rent', {
          slidesPerView: 4,
          centeredSlides: false,
          slidesOffsetBefore: 100,
          slidesOffsetAfter: 100,
          spaceBetween: 30,

          breakpoints: {
            200: {
              slidesPerView: 2,
              spaceBetween: 20
            },
            // when window width is >= 320px
            320: {
              slidesPerView: 2,
              spaceBetween: 20
            },
            // when window width is >= 480px
            480: {
              slidesPerView: 3,
              spaceBetween: 30
            },
            720: {
              slidesPerView: 4,
              spaceBetween: 30
            },
          }
        });
      </script>
</body>
</html>
